# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Github Repository\AlgorithmInAction\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Eclipse
.project
.classpath
.settings/

#maven
target/
dependency-reduced-pom.xml
pom.xml.versionsBackup
.factorypath

out/

# Gradel
.gradle/
build/

# IDEA
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
